<form method="post">
    <input name="email" placeholder="Email" />
    <input name="password" type="password" placeholder="Password" />

    <select name="role">
        <option value="Admin">Admin</option>
        <option value="Moderator">Moderator</option>
    </select>

    <button type="submit">Register</button>
</form>